/*
* {
    outline: 2px solid red;
  }

  */

.body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    font-family: 'Roboto';
    background-color: white;
}

/* header */

.header,
.hero {
    background-color: #1f2937;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #f9faf8;
}

.header .links {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    justify-content: space-around;
    align-items: center;
    gap: 8px
}

.header .links .link {
    font-size: 18px;
}

/* hero */

.hero h1 {
    font-size: 48px;
    font-weight: 900px;
    color: #f9faf8;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero img {
    height: auto;
    width: 150px;
}

.quote {
    background-color: #e5e7eb;
}

.footer {
    background-color: #1f2937;
}

.button {
    background-color: #3882f6;
}

/* info */

.info {
    display: flex;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
}

.info .header {
    align-items: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    background-color: white;
}

.info .body {
    display: flex;
    flex-direction: row;
}

.info .body .bubble {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.info .body .bubble img {
    border: 2px solid #3882f6;
    border-radius: 25px;
    height: auto;
    width: 150px;
}